
.container{
width: auto;
border: double;
border-radius: 8px;
border-color: black;
height: auto;
text-align: center;
align-items: center;
background: linear-gradient(to left, #f6f5f5, #efecec 50%, #eee 75%, #dacaca 75%);
}
.head{
background-color: rgba(23, 22, 22, 0.5);
color: white;
font-style: italic;


}
.board{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    
    border-radius: 5px;
    color: rgb(168, 149, 114);
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
}
.case{
    width: 100px;
    height: 100px;
    padding: 20px;
    display: flex;
    border:double;
    font-size: xx-large;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    border-radius: 5px;
}
.case:hover{
    background-color: rgba(0, 0, 255, 0.2); 
}
.center {
    font-weight: bold;
  }
  .case:empty {
    background-color: #272323; /* Light background for empty cells */
  }
  .case:empty:hover { background-color: rgba(44, 44, 47, 0.2); 
  }
  .button{
    border-radius: 5px;
  }
  .x-player {
    color: blue;
  }
  
  .o-player {
    color: red;
  }
  